* { font-family: segoe ui, trebuchet ms, tahoma, verdana, arial, serif; }

body
{
    background: rgb(25,25,25);
    padding: 25px 35px;
    margin: 0px;
    color: white;
}

h1
{
    font-weight: normal;
    font-family: segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
}

a
{
    text-decoration: none;
    color: orange;
}

a:hover
{
    text-decoration: underline;
}

ul 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
} 

ul li 
{
    display: inline-block;
    padding: 15px;
    margin: 15px 30px 15px 0px;
    border: 1px solid rgba(255,255,255,.2);
    background: rgb(50,50,50);
    width: 200px;
    height: 100px;
    vertical-align: middle;
}

form input[type=text]
{
    border: none;
    background: rgba(255,255,255,.3);
    padding: 8px 12px;
    min-width: 300px;
    color: white;

    background: white;
    color: black;
}

form input[type=text]:focus
{
    outline: 0;
}

form *:focus
{
    outline: 0;
}

form input[type=submit]
{
    border: none;
    background: rgb(70,70,70);
    padding: 8px 12px;
    min-width: 100px;
    color: white;
}

form input[type=submit]:hover
{
    background: rgb(100,100,100);
}
